<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sign Up</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <header>
    <img src="OIP.jpeg" alt="Logo" style="height: 70px;">
  </header>
  <nav>
    <a href="/">Home</a>
    <a href="/books">My Books</a>
    <a href="/books/new">Add New Book</a>
    <% if (typeof user !== 'undefined') { %>
      <a href="/logout">Logout</a>
    <% } else { %>
      <a href="/login">Login</a>
      <a href="/signup">Sign Up</a>
    <% } %>
  </nav>
  <main class="centered-container">
    <form action="/signup" method="POST">
      <h4>I find television very educating. Every time somebody turns on the set, I go into the other room and read a book. Groucho Marx. Begin your journey with access to over 40+ million books in various genres with an easy and simple monthly subscription. Read anywhere, on any device. First month free. You become knowledgeable by reading. You become strong by doing. You become wise by thinking. Maxime Lagacé

      </h4>
      <h2>Sign in</h2>
      <label for="username">Username:</label>
      <input type="text" name="username" id="username" required>
      <label for="password">Password:</label>
      <input type="password" name="password" id="password" required>
      <button type="submit">Sign Up</button>
    </form>
  </main>
  <footer>
    <p>&copy; 2024 Book Tracker</p>
  </footer>
</body>
</html>