
body {
    font-family: Arial, sans-serif;
    background-image: url('f-small.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #2c3e50;
    margin: 0;
    padding: 0;
    height: 100vh;
}
  
  header {
    background-color: white;
    color: white;
    padding: 1rem;
    text-align: center;
  }

  header img {
    height: 50px; 
    margin-right: 10px; 
    vertical-align: middle; 
}
  
  nav {
    background-color: #914D21;
    padding: 2rem;
    text-align: center;
    opacity: 0.5;
  }
  
  nav a {
    color: white;
    margin: 0 1rem;
    text-decoration: none;
    font-size: 15px;
  }
  
  main {
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 450px;
  }


  main a {
    color: white;
    font-size: 1rem;
    width: 100%;
    margin: 1rem;
    display: flex;
    justify-content: center;
    width: 100px;
    text-transform: uppercase;
  }
  
  footer {
    background-color: white;
    color: black;
    text-align: center;
    padding: 1rem;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: 13px;
  }

  h1 {
    color: #0F0C0A;
    font-size: 1.rem;
    text-align: center;
    margin-bottom: 0.9rem;
  }
  
  h2 {
    font-family: 'Caveat', cursive;
    color: white;
    font-size: 5.5rem;
    text-align: center;
    margin-bottom: 0.2rem;
  }

  h4 {
    font-family: 'Caveat', cursive;
    color: gray;
    font-size: 1rem;
    text-align: center;
    margin-bottom: -6.1rem;
    font-size: 1em;
  }
  
  form {
    background-color: white;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
  }

  form {
    display: inline;
}

button {
    background-color: #914D21;
    color: white;
    border: none;
    cursor: pointer;
    padding: 0.75rem;
    border-radius: 5px;
    font-size: 1rem;
    width: 100%;
    font-weight: 600;
  }
  
  button:hover {
    background-color: #BE8450;
  }


  main h1 {
    font-size: 2em;
    margin-top: 30px;
}

main ul {
    list-style-type: none;
    padding: 0;
}
main li {
    background-color: #ecf0f1;
    margin: 10px 0;
    padding: 15px;
    width: 800px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 4px;
}
main li strong {
    font-size: 1.5em;
}

main li a {
    margin-right: 2px;
    text-decoration: none;
    color: #0F0C0A;
}

main li a:hover {
    text-decoration: underline;
}

label {
    display: block;
    margin: 1rem 0 0.5rem;
  }
  
  input, select {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  .social-icons {
    margin-top: 5px;
  }
  .social-icons a {
    margin: 0 10px;
    color: #333;
    text-decoration: none;
    font-size: 24px;
  }
  .social-icons a:hover {
    color: #007bff;
  }

  @media (max-width: 600px) {
    a {
        font-size: 0.8rem;
        margin: 0.5rem;
    }
}

/* Media query for medium screens */
@media (min-width: 601px) and (max-width: 1024px) {
    a {
        font-size: 1rem;
        margin: 1rem;
    }
}

/* Media query for large screens */
@media (min-width: 1025px) {
    a {
        font-size: 1.2rem;
        margin: 1.5rem;
    }
}
  

  
